.Coin{
    background-color: rgb(2, 12, 41);
    color: white;
}
.coin-build{
    padding-top: 83px;
}
.coin-row{
    display:flex;
    justify-content: center;
}
.coin-org{
    font-family: "Poppins";
font-style: italic;
font-weight: bold;
font-size: 16px;
line-height: 110%;
color:#ED652E;
text-shadow: 3px 4px 54px rgba(255, 255, 255, 0.3);
}
.coin-head{
    
font-style: italic;
font-weight: bold;
font-size: 48px;
line-height: 120%;
}
.coin_p_C2C{
    font-size: 14px;
    padding: 12px;
}
.img-gol-1{
    padding-top: 9px;
}
.coin_p_C2C-1{
font-size: 13px;
padding-bottom: 8px;
border: 1px solid;
}
.see-on{

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
}
.coin-img-2{
    background: linear-gradient(117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
backdrop-filter: blur(90px);
/* Note: backdrop-filter has minimal browser support */
color: #FFFFFF;
border-radius: 4px;
}

.coin12-p{
    width:83%;
    padding-top: 90px;
}


.see-on {
   
    font-size: 14px;
    padding-top: 33px;
    padding-left: 26px;
}
@media  screen and (min-width:350px)and (max-width:500px) {
    .coin-org {
        
        font-size: 14px;
        display: flex;
        justify-content: center;
      
}

.vector490{
    display: none;
}
.coin_p_C2C {
    font-size: 12px;
    width: 99%;
    padding: 10px;
}

.coin-head {
    font-size: 35px;
    display: flex;
    justify-content: center;
   
}
.G-6173{
    width:71%;
}
.F3F_ptagp{
    font-size: 13px;

}
.NRGY_C2C{
    font-size: 13px;
    padding: 28px;
}

.img-gol {
    width: 71%;

}
.img-fol-1{
    font-size: 7px;
}
}