.Coin{
    background-color: rgb(2, 12, 41);
    color: white;
    padding-top: 200px;
}
.img-col-89{
    flex: 0 0 auto;
    width: 12.666667%;
    margin-top: 9px;
    margin-left:9px;
}
.coin-build{
    padding-top: 83px;
    flex: 0 0 auto;
    width: 36.333333%;
}

.coin-row{
    display:flex;
    justify-content: center;
}
.coin-org{
    font-family: "Poppins";
font-style: italic;
font-weight: bold;
font-size: 16px;
padding-left: 21px;
line-height: 110%;
color:#ED652E;
text-shadow: 3px 4px 54px rgba(255, 255, 255, 0.3);
}
.coin-head{
    
font-style: italic;
font-weight: bold;
font-size: 48px;
line-height: 120%;
padding-left: 18px;
}
.coin_p_C2C{
    font-size: 13px;
    padding-top: 34px;
}
.coin_p_C2{
    font-size: 13px; 
}
.Coin_343 {
    flex: 0 0 auto;
    width: 11.666667%;
}
.NRGY_C2C{
    padding-left: 7px;
    font-size: 15px;
}
.img-gol-1{
    padding-top: 19px;
}
.coin_p_C2C-1{
font-size: 13px;
padding-bottom: 8px;
border: 1px solid rgba(255, 255, 255, .2);
}
.see-on{

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
padding-left: 14px;
}
.coin-img-2{
    background: linear-gradient(117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
backdrop-filter: blur(90px);
/* Note: backdrop-filter has minimal browser support */
color: #FFFFFF;
border-radius: 4px;
margin-left: 13px;
margin-right: 12px;
}

.coin12-p{
    width:83%;
    padding-top: 90px;
}


.see-on {
   
    font-size: 14px;
    padding-top: 41px;
  
}
@media  screen and (min-width:350px)and (max-width:500px) {
    .coin-org {
        
        font-size: 14px;
        display: flex;
        justify-content: center;
      
}
.coin12-p {
    width: 100%;
        padding-top: 290px;
   }

.vector490{
    display: none;
}
.coin_p_C2C {
    font-size: 12px;
    width: 99%;
   

}
.coin_p_C2C-1{
    padding: 7px;
  font-size: 10px;

}
.coin-build {
    padding-top: 83px;
    flex: 0 0 auto;
    width: 100%;
}


.coin-head {
    font-size: 35px;
    display: flex;
    justify-content: center;

    text-align: center;
   
}
.G-6173{
    width:71%;
}
.F3F_ptagp{
    font-size: 13px;

}
.NRGY_C2C{
    font-size: 14px;
    padding: 16px;
    text-align: center;
}

.img-gol {
    width: 71%;

}
.img-fol-1{
    font-size: 7px;
}
}
@media  screen and (min-width:501px)and (max-width:768px) {
    .coin-org {
        
        font-size: 16px;
        display: flex;
        justify-content: center;
      
}
/* .thebull{
    display: none;
} */
.coin12-p {
    width: 92%;
    padding-top: 428px;
}

.vector490{
    display: none;
}
.coin_p_C2C {
    font-size: 14px;
    width: 99%;
   

}
.coin_p_C2C-1{
    padding: 7px;
  font-size: 12px;

}
.coin-build {
    padding-top: 83px;
    flex: 0 0 auto;
    width: 100%;
}


.coin-head {
    font-size: 35px;
    display: flex;
    justify-content: center;

    text-align: center;
   
}
.G-6173{
    width:71%;
}
.F3F_ptagp{
    font-size: 15px;

}
.NRGY_C2C{
    font-size: 15px;
    padding: 16px;
    text-align: center;
}

.img-gol {
    width: 71%;

}
.img-fol-1{
    font-size: 9px;
}

}
@media  screen and (min-width:768px)and (max-width:992px) {

    .svector{
        display: none;
    }
    .mobile40{
        display: none;
    }
    .Coin {
       
        padding-top: 500px;
    }
    .vector-494{
        display: none;
    }
    .coin-build {
        padding-top: 83px;
        flex: 0 0 auto;
         width: 83.333333%;
    }
    
    .coin-head {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .coin-org {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .NRGY_C2C {
        padding-left: 0px;
        font-size: 15px;
        
        text-align: center;
        
    }
}
@media  screen and (min-width:1024px)and (max-width:1200px) {
    .coin-img-2 {
   
        /* margin-left: 26px; */
        margin-right: -70px;
    }
    .ell-8-1{
        display: none;
    }
    .coin-head {
    
        font-size: 44px;
      
        padding-left: 0px;
    }
}