.F2F-color{
    background-color: rgb(2, 12, 41);
    color: white;
    padding-top: 121px;
}

/* .row{
    display: flex;
    justify-content: center;
} */
.F2F-head{
    padding-top: 70px;
    text-align: center;
    font-family: "Poppins";
font-style: italic;
font-weight: bold;
font-size: 54px;
line-height: 120%;
position: relative;
}
.F2F-org{
    color:#ED652E;
    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 110%;

}
.cryptography{
    margin-right:20px;
}
.Blockchain{
    margin-left:20px;
}
.F2F-graphy{
    font-size: 28px;
    font-style: normal;
font-weight: bold;
}
.F2F-subgraphy{
    font-size: 14px;
}
.card-cryptography{
   
background: linear-gradient(117.24deg, rgba(255, 255, 255, 0.076) 5.43%, rgba(255, 255, 255, 0.016) 88.67%);
backdrop-filter: blur(90px);
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, .2);
    margin: 20px;
   
}
#cryptography-body{
    padding-bottom: 51px;
}
#body-blockchain{
    padding-bottom: 94px;
}
.img-chin{
       
    background: linear-gradient(117.89deg, rgba(255, 255, 255, 0.152) -102.44%, rgba(255, 255, 255, 0.032) 116.65%);
    backdrop-filter: blur(90px);
display: inline-block;
border-radius: 10px;
padding:5px;
border: 1px solid rgba(255, 255, 255, .2);
}
#body-distribution{
    padding-bottom: 39px;
}
#body-finance{
    /* padding-bottom: 20px; */
}
.Group901{
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 228px;
}
.F3F-body{
    padding-left: 35px;
    padding-top: 40px;
}
/* .vector-2_n{
    display: flex;
    justify-content: center;
} */
.Group61{
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 168px;
   
}
@media  screen and (min-width:350px)and (max-width:768px) {

    .F2F-head {
        padding-top: 10px;
        position: relative;
        font-size: 35px;
        line-height: 120%;
         padding-right:0px;
    }
    .Blockchain {
     margin-left: 0px;
    }
    
    .Group61 {
      display: none;
      
    }
    .vector2-N2N {
       display: none;
    }
    .cryptography {
        padding-left: 33px;
        padding-right: 14px;
    }
    .Decentralization{
        padding-left: 24px;
        padding-right: 24px;
    }

    .Blockchain{
        padding-left: 24px;
        padding-right: 24px;
    }
.Application{
    padding-left: 24px;
    padding-right: 24px;
}
.Finance{
    padding-left: 24px;
    padding-right: 24px;
}
}
@media  screen and (min-width:501px)and (max-width:768px) {

}
@media  screen and (min-width:1450px)and (max-width:1650px) {
    .Group61 {
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        padding-top: 160px;
       }
       .vector2-N2N{
       /* padding-left: 25%; */
       }
}
@media  screen and (min-width:1024px)and (max-width:1200px) {
    #body-blockchain {
        padding-bottom: 134px;
    }
    #body-distribution {
        padding-bottom: 22px;
    }
   
    #body{
        padding-bottom: 43px;
    }
}