
.last{
  background-color: rgb(2, 12, 41);
}
.for-mhi{
  padding-top: 3rem;
}
.foor-to{
  padding-top: 100px;
}
.logo-items12{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 33px;
}
.ft-0p{
  padding-top: 119px;
  width: 13%;
}
  .text-small {
    font-size: 0.9rem;
  }
  #img-ico{
    margin: 10px;
  }
  #img-ico-1{
    padding: 19px;
  }
  .img-foot-ls{
    display: flex;
    justify-content: center;
  }
  .img-foot-ls0{
    display: flex;
    justify-content: end;
  }
  #inner-footer{
   
      margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */
     
}
 #input-box{
  border-radius: 18px;
  padding: 12px 60px;
  
} 
#button-addon2 {

  margin: 7px;
border-radius: 7px;
}
#inner-card{
  background:linear-gradient(
    91.45deg,#564ece 25.74%,#7d74ff 69.14%);
        border-radius: 16px;
        padding: 49px 79px;
        margin: 0px -76px;
        float: left;
}
.F2F_logo{
  width:40px;
  height:44px;
}
.h-head{
  justify-content: space-between;
}
#btn{ 
  padding: 18px 58px;
  font-family: 'Poppins';
  font-size: 22px;
  border-radius: 55px;
  float: right;
  margin: -92px 6px;
            

}
.F2F_ptag{
  font-family: 'Poppins';
  color: #fff;
  font-size: 16px;
  display: flex;
    justify-content: center;
}
.social-icon{
  background-color: #564ece;
}
.F2F_menu2{
  font-family: "poppins";
font-size: 15px;
  color: white;
  padding-top: 94px;
  /* padding-left: 131px; */
  /* box-shadow: 0 4px 70px rgb(14 13 30 / 50%); */
}
.m-fluxs{
  padding-top: 70px;
  display: flex;
  justify-content: end;
  font-family: "poppins";
  font-size: 15px;
    color: white;
}
.F2F_menu{
  font-family: "poppins";

  font-weight: 500;
  font-size: 16px;
}
.menu{
  padding-right: 7px;
}
.F2F_menu:hover{
color: #564ece;
}
#footer-img{
  font-family: 'Poppins';

}
.F2F_starstake{
  font-family: 'Poppins';
  font-size: 53px;
  padding: 1px 7px 4px 4px;
}  
.input_F2F{
  
  width: 397px;
  height: 49px;
  background: hsla(0,0%,76.9%,.1);
  border-radius: 28.5px;
  border: none;
  padding: 0 30px;
  font-weight: 500;
  font-family: "poppins";
  font-size: 16px;
  line-height: 37px;
  color: #858585;

} 
.input_F2F:hover{
  border: 2px solid #5a52ff;
}
.h-divider{
  margin-top:45px;
  margin-bottom:5px;
 
  height:1px;
  width:100%;
  border-top:2px solid gray;
}
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer{
    
    /* background:  #0a0c15; */
   
    background-repeat: no-repeat;
  width: "100%";
  background-image: 'right';

  }
  .n4n-para{
    display: flex;
    justify-content: center;
    padding-left: 131px;
  }
  .findus{
    display: flex;
    justify-content: center;
    padding-left: 66px;
  }
  .foot-ls-1{
    padding-left: 55px;
  }
  .re-end{
    text-align: end;
  }
  .foot-ls{
    text-align: end;
  }
  .foot-ls-2{
    padding-left: 20px;
    text-align: center;
    
  }
  .fs-last5{
    padding-left: 77px;
  }
  #N5N-logo{
   
    padding-left: 139px;
    padding-top: 46px;
  }
  .F2F_heading{
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    color: #fff;
    font-family: 'Poppins';
    display: inline;
}
 
    /* body, html {
      height: 100%;
    } */

    @media screen and (min-width: 768px) and (max-width: 900px) {
      #N5N-logo {
        padding-left: 0px;
        padding-top: 6px;
    }
    }
    @media screen and (min-width: 350px) and (max-width: 768px) {
      .ft-0p{
        display: none;
      }
      .re-end {
       padding-left: 0px;
        text-align: center;
    }
    #N5N-logo {
      padding-left: 0px;
      padding-top: 46px;
  }
  .col{
   
    flex:30%;
  }
  .logo-items12 {
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 33px;
    text-align: center;
}
  .findus {
    display: flex;
    justify-content: center;
    padding-left: 0px;
}
.n4n-para {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}
.vt-0{
  display: none;
}
.foot-ls {
  text-align: center;
}
.term{
  text-align: center;
}
.foot-ls-1 {
   padding-left: 0px;
  text-align: center;
}
.foot-ls-1 {
 
 text-align: center;
}
.foot-09{
  text-align: center;
}
.fs-last5 {
  padding-left: 38px;
}
.F2F_menu2 {
 
  font-size: 13px;
  color: white;
   padding-left: 0px;
  /* box-shadow: 0 4px 70px rgb(14 13 30 / 50%); */
}
.h-divider {
  margin-top: 45px;
  margin-bottom: 5px;
  margin-left: 0px;
  height: 1px;
  width: 100%;
  border-top: 2px solid gray;
}
.last2021{
  text-align: center;
}

    }
    @media screen and (min-width: 769px) and (max-width: 900px) {
      .logo-items12 {
        display: flex;
    justify-content: center;
    text-align: center;
      }
    }

    