.Forntier{
    background-color: rgb(2, 12, 41);
    color: white;
}

 
.Forntier-F3F{
    padding-top: 247px;
}
.F3F-82{
    padding-right: 72px;
}
.N2N-span-2{
    font-family: "Poppins";
    /* padding-left: 25px; */
font-style: italic;
font-weight: bold;
font-size: 16px;
line-height: 110%;
color:#ED652E;
}
.group12{
    background: linear-gradient(146.74deg, rgba(232, 104, 57, 0.5) 21.86%, rgba(97, 121, 249, 0.5) 72.55%);
    filter: blur(500px);
    transform: matrix(-1, 0, 0, 1,);
    padding-top: 482px;
}
.F3F-row{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.sec-F3F{
  
}
.sec-F3F {
    padding-left: 25px;
}
.head-F3F{
    display: flex;
    text-align: start;
 
    font-family: "Poppins";
font-style: italic;
font-weight: bold;
font-size: 42px;
line-height: 120%;
padding-top: 23px;
}
.F3F_ptag{

font-family: "Poppins";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
}
.F3F_ptagp{
font-weight: bold;    
}
.ell-8-1{
    /* padding-right: 404px; */
    padding-top: 216px;
}
.F3F-82 {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
    padding-top: 216px;
    width: 100%;

}
.vector-494{
    padding-top: 686px;
}
.svector{
    padding-top: 45pc;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
/* box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2); */
/* border-radius: 10px; */
/* transform: rotate(-92.47deg); */
}

@media  screen and (min-width:350px)and (max-width:500px) {
    .F3F-82 {
       display: none;
    }
    .head-F3F {
        display: flex;
    justify-content: center;
        font-size: 32px;
        line-height: 99%;
        padding-top: 39px;
        text-align: center;
        padding: 10px;
    }
    .m-gapp{
        display: none;
    }
    .F3F_ptag {
      padding: 10px;
        font-size: 14px;
        /* line-height: 128%; */
        /* display: flex; */
        text-align: center;
        padding-top: 23px;
    }
    .sec-F3F {
        padding-left: 0px;
    }
    .group12{
        display: none;
    }
    .security{
        width: 98%;
    padding-top: 0px;
    padding-left: 0px;
    }
    .N2N-span-2 {
        display: flex;
        justify-content: center;
      
    }
    .Forntier-F3F {
        padding-top: 0px;
    }
   

.vector-494 {
   display: none;

}

.F3F-row {
    padding-top: 60px;
}
.ell-8-1{
  display: none;
}
.svector{
display: none;
}   

    
}
@media  screen and (min-width:501px)and (max-width:768px){
    .F3F-82 {
        display: none;
     }
     .head-F3F {
         display: flex;
     justify-content: center;
         font-size: 38px;
         line-height: 99%;
         padding-top: 39px;
         text-align: center;
     }
     .m-gapp{
         display: none;
     }
     .F3F_ptag {
       
         font-size: 16px;
         line-height: 208%;
         /* display: flex; */
         text-align: center;
         padding-top: 23px;
     }
     .sec-F3F {
         padding-left: 0px;
     }
     .group12{
         display: none;
     }
     .security{
         width: 80%;
     padding-top: 0px;
     padding-left: 0px;
     }
     .N2N-span-2 {
         display: flex;
         justify-content: center;
       
     }
     .Forntier-F3F {
         padding-top: 0px;
     }
    
 
 .vector-494 {
    display: none;
 
 }
 
 .F3F-row {
     padding-top: 60px;
 }
 .ell-8-1{
   display: none;
 }
 .svector{
 display: none;
 }   
 
}
@media  screen and (min-width:1390px)and (max-width:1650px) {
    .sec-F3F {
        padding-left: 55px;
    }
    .vector-492 {
        padding-top: 682px;
    }
    .F3F-82 {
        padding-right: 136px;
        padding-top: 122px;

    }
}
@media  screen and (min-width:768px)and (max-width:992px) {
/* coin statement query */
.ell-8-1{
    display: none;
    
}
.security{
    width: 87%;
}
.G-6174{
    width: 100%;
}
.conten-45{
    display: flex;
    justify-content: center;
    text-align: center;
}
.Forntier-F3F {
     padding-top: 47px;
}
.N2N-span-2 ,.F3F-head{
    display: flex;
    justify-content: center;
    text-align: center;
    /* text-align: center; */
}
}

@media  screen and (min-width:501px)and (max-width:768px) {

.ell-8-1{
display: none;
}
}

@media  screen and (min-width:1024px)and (max-width:1200px) {
    .F3F-82{
        display: none;
    }
    .Coin {
        background-color: rgb(2, 12, 41);
        color: white;
        padding-top: 50px;
    }
}