.Nrgyon{
    background-color: rgb(2, 12, 41);
    color:#FFFFFF;
}
.m-gapp{
    padding-left: 11px;
    padding-top: 10px;
}

.line456::before{
   position: absolute;




    content: url("../images/Line26.png");
}
.etih-rin{
    padding-top: 285px;
}
.total-suppl{
    margin-right: 12px;
    padding-top: 12px;
    display: flex;
    justify-content: end;
}
.V493-line{
    padding-left: 288px;
    padding-top: 50px;
}
.Elli344-N2N{
    padding-left: 116px;
    padding-top: 41px;

}
.container-6{
    margin-right: 202px;
    padding-top: 30px;
}
/* .col-N2N-2{
    padding-left: 120px;
} */
.elli-344-ikm{
    padding-right: 193px;
    padding-top: 67px;
}
.p-btn-3{
    padding-top: 37px;
}
.container-5{
    padding-top: 32px;
}
.pin-ball{
    padding-top: 23px;
    padding-left: 31px;
}
.N2N-span-1{
    
font-style: italic;
font-weight: bold;
font-size: 42px;
line-height: 120%;
}
.N2N-span-3{
    /* font-family: "Montserrat"; */
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 160%;
padding-top: 14px;
/* margin: 10px; */
}
.min-4{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #3CEBC8;
    text-shadow: 10px 7px 54px rgba(255, 255, 255, 0.15);
}
.min-5{
    
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 120%;
}
.bg-N2N2-2{
   /* margin: 14px; */
    padding: 21px;
    background: linear-gradient(
117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
    backdrop-filter: blur(120px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .2);
}
.bg-N2N2{

    margin-top: 14px;
    margin-right: -64px;
    padding: 21px;
    background: linear-gradient(
117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
    backdrop-filter: blur(120px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .2);

}
.min-6{
    
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 120%;
}
.count-2{
    padding-top: 195px;

   
}
.col-N2N-2 {
    padding-left: 40px;
    margin-left: 127px;
}
.c-count-1{
    /* padding-left: 61px; */
    margin-left: 63px;
}
.V493{
   
    padding-top: 93px;

}
.V494{
    padding-left: 152px;
    padding-top: 50px;
}
.V495{
    padding-left: 268px;
    padding-top: 56px;

}
.V496{
    padding-left: 144px;
    padding-top: 50px;
}

    .btn-get-nrgy-3 {
        width:169px;
        background: linear-gradient( 
    98.56deg, #ED652E -21.77%, #EB5214 106%);
        box-shadow: 10px 14px 34px rgb(237 101 46 / 30%);
        border-radius: 64px;
        padding: 7px 23px 7px 23px;
        border: 1px solid #ED652E;
        color: white;
        font-weight: 700;
}
.total-supply{
    display: flex;
    justify-content: end;
    padding-right: 212px;
}
@media  screen and (min-width:350px)and (max-width:500px) {
    .V493 {
        display: none;
    }
    .V494{
        display: none;
    }
    .c-count-1{
        padding-left: 0px;
        padding: 12px;
        margin-left: 0px;
    }
    .col-N2N-2 {
        padding: 12px;
        padding-left: 0px; 
         margin-left: 0px;
        
    }
    .gapp-09{
        margin-top: 30px;
    }
    .V493-line{
display: none;
    }
    .min-5{
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .N3N_target{
        padding-top: 12px;
    }
    .p-btn-3 {
        padding-top: 37px;
        display: flex;
    justify-content: center;
    }
    .min-4{
        display: flex;
        justify-content: center;
        font-size: 66px;
    }
    .min-6 {
        display: flex;
    justify-content: center;
        font-size: 16px;
        text-align: center;
      
    }
    .play-none{
        display: none;
    }
    .count-1 {
        padding-top: 0px; 
         padding-right: 0px;
    }
    .N2N-span-3 {
        font-size: 14px;
        text-align: center;
        /* padding-top: 31px; */
        display: flex;
        justify-content: center;
    }
    .Nrgyon{
        padding-top: 171px;
    }
    .N2N-span-1 {
        text-align: center;
        display: flex;
        font-size: 38px;
        justify-content: center;
    }
    .c-count-1 {
        padding-left: 0px;
    }
    .bg-N2N2 {
         margin-right: 0px;
         margin: 12px;
}
.N_BINANCE{
    padding-top: 69px;
}
.N4N-eth{
    padding-right: 73px;
    padding-top: 49px;
}
.bg-N2N2-2 {
    margin: 14px;
 
}
.nfryf{
    display: none;
}
.total-suppl {
    margin-right: 25px;
    display: flex;
    justify-content: center;
   
}
.container-6 {
 margin-right: 0;
}
.V495 {
display: none;
}
.V496 {
   display: none;
}
.btn-34{
    display: flex;
    text-align: center;
    justify-content: center;
}

.count-2 {
     padding-top: 0px;
}
.total-supply {
    display: flex;
    justify-content: center;
     padding-right: 0px;
}
.m-gapp{
    padding-left: 0px;
    padding-top: 0px;
}
.line456::before{
    position: absolute;
 
 
 
 
     content: "";
 }
}