.Nrgyon{
    background-color: rgb(2, 12, 41);
    color:#FFFFFF;
}
.etih-rin{
    padding-top: 343px;
}
.total-suppl{
    margin-right: -54px;
    padding-top: 12px;
    display: flex;
    justify-content: end;
}
.V493-line{
    padding-left: 258px;
    padding-top: 50px;
}
.Elli344-N2N{
    padding-left: 67px;
    padding-top: 29px;

}
.container-6{
    margin-right: 202px;
    padding-top: 30px;
}

.elli-344-ikm{
    padding-right: 178px;
    padding-top: 60px;
}
.p-btn-3{
    padding-top: 37px;
}
.container-5{
    padding-top: 32px;
}
.pin-ball{
    padding-top: 23px;
    padding-left: 31px;
}
.N2N-span-1{
    
font-style: italic;
font-weight: bold;
font-size: 43px;
line-height: 120%;
}
.N2N-span-3{
    /* font-family: "Montserrat"; */
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
}
.min-4{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #3CEBC8;
    text-shadow: 10px 7px 54px rgba(255, 255, 255, 0.15);
}
.min-5{
    
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 120%;
}
.bg-N2N2-2{
   
    padding: 21px;
    background: linear-gradient(
117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
    backdrop-filter: blur(120px);
    border-radius: 20px;

}
.bg-N2N2{
    margin-right: -64px;
    padding: 21px;
    background: linear-gradient(
117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
    backdrop-filter: blur(120px);
    border-radius: 20px;

}
.min-6{
    
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 120%;
}
.count-2{
    padding-top: 139px;
   
}
.c-count-1{
    padding-left: 92px;
}
.V493{
   
    padding-top: 93px;

}
.V494{
    padding-left: 136px;
    padding-top: 50px;
}
.V495{
    padding-left: 290px;
    padding-top: 56px;

}
.V496{
    padding-left: 149px;
    padding-top: 50px;
}

    .btn-get-nrgy-3 {
        width:169px;
        background: linear-gradient( 
    98.56deg, #ED652E -21.77%, #EB5214 106%);
        box-shadow: 10px 14px 34px rgb(237 101 46 / 30%);
        border-radius: 64px;
        padding: 7px 23px 7px 23px;
        border: 1px solid #ED652E;
        color: white;
        font-weight: 700;
}
.total-supply{
    display: flex;
    justify-content: end;
    padding-right: 212px;
}
@media  screen and (min-width:350px)and (max-width:500px) {
    .V493 {
        display: none;
    }
    .play-none{
        display: none;
    }
    .count-1 {
        padding-top: 0px; 
         padding-right: 0px;
    }
    .N2N-span-3 {
        font-size: 14px;
        text-align: center;
        /* padding-top: 31px; */
        display: flex;
        justify-content: center;
    }
    .Nrgyon{
        padding-top: 171px;
    }
    .N2N-span-1 {
        text-align: center;
        display: flex;
        font-size: 38px;
        justify-content: center;
    }
    .c-count-1 {
        padding-left: 0px;
    }
    .bg-N2N2 {
         margin-right: 0px;
}
.N_BINANCE{
    padding-top: 169px;
}
.N4N-eth{
    padding-right: 73px;
    padding-top: 49px;
}
.nfryf{
    display: none;
}
.total-suppl {
    margin-right: 25px;
   
}
.container-6 {
 margin-right: 0;
}
.V495 {
    padding-left: 258px;
    padding-top: 56px;
}
.V496 {
    padding-left: 138px;
    padding-top: 50px;
}
.total-supply {
  
    padding-right: 16px;
}
.count-2 {
     padding-top: 0px;
}
}