.Rewards{
    background: linear-gradient(180deg, #010D28 0%, #1A1521 100%);
    color: #FFFFFF;
    padding-top: 255px;
}
.gp-R2R{
    padding-top: 122px;
}
.center-card-R2R{
    padding-top: 122px;
   
    margin-left: 12px;
}
.classic-12{
    padding-top: 202px;
}
.bg-R2R2-1{
    border: 1px solid rgba(255, 255, 255, .2); 
    padding: 16px; 
background: linear-gradient(117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
backdrop-filter: blur(120px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
}




.bg-R2R2{
    margin-left: 33px;
    margin-top: 6px;
    padding: 11px;
    width: 224px;
    border: 1px solid rgba(255, 255, 255, .2);
background: linear-gradient(117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
backdrop-filter: blur(120px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
}
#col-bg-r2r2{
    margin-right:192px;
    margin-left: 29px;
    margin-top: 10px;
}
.R2R-min{
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 110%;
    color: #3CEBC8;
}
.mobile300{
    display:flex;
    align-items: center;
    }
.btn-get-nrgy-4{
   
        width: 225px;
        border-radius: 64px;
        padding: 13px 36px 13px 35px;
        border: 1px solid white;
        color: white;
        font-weight: 700;
        /* margin: 15px; */
    }
    
    .elli344{
        padding-top: 128px;
        padding-left: 100px;
    }


.R2R-min-2{

font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 120%;
}
.classic-row1{
    padding-top: 72px;
}
.topp-padd-33{
    margin-top: 12px;
    margin-left: 30px;
}
.top-padd-12{
  
    margin-top: 140px;
    margin-left:30px;
}
.top-padd23{
    margin-top: 12px;
    margin-left: 11px;
}

    .vector4923 {
        padding-top: 142px;
    padding-right: 0px;
    }

.read_top{
    padding-top: 249px;
}
.T2T_head{
    padding-top: 220px;
}
.elli342{
    padding-top: 25px;
}
.row {
    display: flex;
 justify-content: center;
    /* justify-content: stretch; */
}

.R3R-para{
    font-size: 15px;
    color: white;
}
.R2R-min-6{
    padding-top: 20px;
    font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 160%;
}
@media  screen and (min-width:350px)and (max-width:500px) {
    .Rewards {
   
        padding-top:5px;
    }
    .classic-12{
        padding-top: 72px;
    }
    .read_top {
        padding-top: 75px;
    }
    .R3R-para {
        font-size: 15px;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 11px;
}
.center-card-R2R {
     padding-top: 0px;
    margin-left: 12px;
}
.classic-row1 {
    padding-top: 72px;
    display: flex;
    text-align: center;
}
.bg-R2R2-1 {
    margin: 12px;
}
.bg-R2R2 {
   
         margin-left: 15px; 
        margin-top: 264px;
        display: flex;
        text-align: center;
        width: 418px;
        border: 1px solid rgba(255, 255, 255, .2);
   
    
 
}
.elli342{
    display: none;
}

.bg-R2R2-1 {
    margin-top: 37px;
    border: 1px solid rgba(255, 255, 255, .2);
}
.vector4923 {
   display: none;
}
.buttn-5{
    display: flex;
    justify-content: center;
}

#col-bg-r2r2{
    margin-top: 261px;
    margin-right: 13px;
    margin-left: 14px;
}
.coin_p_C2{
    padding-top: 10px;
}
.elli344 {
   display: none;
}
.mobile300{
  display: block;
    align-items: center;
    }
}
@media  screen and (min-width:501px)and (max-width:768px) {
    .Rewards {
   
        padding-top:5px;
    }
    #font-id{
        font-size: 14px;
    }
    .classic-12{
        padding-top: 72px;
    }
    .read_top {
        padding-top: 75px;
    }
    .R3R-para {
        font-size: 15px;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 11px;
}
.center-card-R2R {
     padding-top: 0px;
    margin-left: 12px;
}
.classic-row1 {
    padding-top: 72px;
    display: flex;
    text-align: center;
}
.bg-R2R2-1 {
    margin: 12px;
}
.bg-R2R2 {
   
         margin-left: 15px; 
        margin-top: 264px;
        display: flex;
        text-align: center;
        width: 418px;
        border: 1px solid rgba(255, 255, 255, .2);
   
    
 
}
.elli342{
    display: none;
}

.bg-R2R2-1 {
    margin-top: 37px;
    border: 1px solid rgba(255, 255, 255, .2);
}
.vector4923 {
   display: none;
}
.buttn-5{
    display: flex;
    justify-content: center;
}

#col-bg-r2r2{
    margin-top: 261px;
    margin-right: 13px;
    margin-left: 14px;
}
.coin_p_C2{
    padding-top: 10px;
}
.elli344 {
   display: none;
}
.mobile300{
  display: block;
    align-items: center;
    }
}

/* techmology section................................................................................................ */
