.N2N-welcome-1st{
    border: 1px solid black;
    /* backdrop-filter: blur(90px); */
    /* background: linear-gradient(117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%); */
}
.share_in{
    padding-right: 23px;
}
.btn-learn:hover{
    background: white;
    /* box-shadow:none; */
    border: 1px solid white;
    color: black; 
}
.btn-learn:focus{
    background: white;
    /* box-shadow:none; */
    border: 1px solid white;
    color: black; 
}
.btn-get-nrgy-1:hover{
    background: none;
    /* box-shadow:none; */
    border: 1px solid #ED652E;
    
    color: #ED652E;
}
.btn-get-nrgy-1:focus{
    background: none;
    /* box-shadow:none; */
    border: 1px solid #ED652E;
    color: #ED652E;
}
.row-st-col{
    display: flex;
    justify-content: center;
}
.welcol{
    padding-left: 101px;
}
.enter-1{
    display: flex;
    justify-content: center;
}
.section-welcome{
background-color: rgb(2, 12, 41);
}
.row{
    --bs-gutter-x: 0rem;
}
.N2N-p{
    padding-right: 70px;
font-size: 16px;
font-weight: 400;
}
.resp-span-W2W{
    font-size: 16px;
    

    font-weight: 600;
}
.create-with{
    padding-bottom: 18px;
}
.last-img{

}
.btn-get-nrgy-1{
    background: linear-gradient(98.56deg, #ED652E -21.77%, #EB5214 106%);
    box-shadow: 10px 14px 34px rgba(237, 101, 46, 0.3);
    border-radius: 64px;
    color: white;
    margin-top: 12px;
    padding: 13px 33px 13px 33px;
    font-size: 14px;
    /* border: 1px solid #ED652E; */
}
.N1N-h1{
    font-family: "Poppins";
font-style: italic;
font-weight: bold;
font-size: 64px;
line-height: 100%;
/* padding-top: 30px; */
}
.N2N-item{
    padding-top: 57px;
    color: white;
}
.N2N-span{
    font-family: "Poppins";
    padding-left: 2px;
font-style: italic;
font-weight: bold;
font-size: 16px;
line-height: 110%;
color:#ED652E;
}
.N2N-NRGY{
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
}
.btn-learn{
    border-radius: 64px;
    margin-left: 40px;
    padding:11px 33px 11px 33px;

    margin-top: 14px;

}
.N2N-1st{
    color: white;
    font-family: "Poppins";
font-style: normal;
font-weight: bold;
font-size: 77px;
line-height: 110%;
}
.img-182_N2N{
    /* padding-top: 24px; */
    border-radius: 34px;
}
.card-W2W{
    padding-bottom: 0px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: linear-gradient(117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
backdrop-filter: blur(90px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 35px;
}
.st-colm{
margin-left:0px;
padding-top: 40px;
}
.st-colm-3{
margin-left: 28px;
font-size: 16px;
padding-top: 34px;
}
.st-colm-2{
margin-left:28px;
font-size: 16px;
padding-top: 34px;
}
.st-colm-1{
margin-left:28px;
font-size: 16px;
padding-top: 34px;
}
.r-N2N{
    border-radius: 34px;
}
.N2N-img-174{
    padding-left: 227px;
}
.N2N-img-8{
    padding-left: 170px;
    padding-bottom: 300px;
}
.welcome-img-1{
    padding-top: 33px;
}

@media  screen and (min-width:350px)and (max-width:500px) {
    /* .btn-learn{
        margin: 7px;
    } */
    .welcol {
        padding-left: 69px;
    }
   .ellip09{
       display: none;
   }
   .share_in{
       display: flex;
       justify-content: center;
       text-align: center;
    padding-right: 0px;
}
   .ellip08{
    display: none;
}

    .welcome-img-1{
        width: 280px;
        height: 257px;
        padding-right: 16px;
    }
    .N2N-font {
      
        color: white;
       
    }
    .N2N-item {
        padding-top: 15px;
        color: white;
        padding-left: 4px;
      
    }
    .N2N-span {
       display: flex;
       justify-content: center;
        font-size: 13px;
       
    }
   
    .N1N-h1 {
        display: flex;
        text-align: center;
    justify-content: center;
        font-size: 37px;
        line-height: 100%;
    }
    .N2N-NRGY {
        display: flex;
        text-align: center;
        font-size: 14px;
        line-height: 166%;
        padding: 10px;
        justify-content: center;
    }
    .btn-get-nrgy-1{
        background: linear-gradient(98.56deg, #ED652E -21.77%, #EB5214 106%);
        box-shadow: 10px 14px 34px rgba(237, 101, 46, 0.3);
        border-radius: 64px;
       
        margin-top: 12px;
        padding: 7px 27px 7px 27px;
        font-size: 14px;
        /* border: 1px solid #ED652E; */
    }
    .btn-img-W2W{
        width: 12px;
    }
    .btn-div{
        display: flex;
      
        justify-content: center;
    }
    .btn-learn {
            border-radius: 64px;
    margin-top: 12px;
    padding: 9px 22px 9px 25px;
    font-size: 14px;
    /* margin: 0px; */
    }
    .st-colm{
        /* padding-left: 24px; */
        padding-top: 34px;
        margin-left: 0px;
        }
        .st-colm-3{
            margin-left: 0px;
        font-size: 8px;
        padding-top: 34px;
        }
        .st-colm-2{
            justify-content: center;
            text-align: center;
        font-size: 8px;
        padding-top: 34px;
        margin-left: 0px;
        }
        .st-colm-1{
            justify-content: center;
            text-align: center;
        font-size: 8px;
        padding-top: 34px;
        }


.N2N-1st {
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
     font-size: 74px;
    line-height: 110%;
}
.N2N-p {
    font-size: 16px;
    padding-right: 14px;
    font-weight: 400;
}
.para-1st{
    display: flex;
    justify-content: center;
    text-align: center;
}
.respo-W2W{
    /* width: 80%; */
}
.inner-img{
    display: flex;
    justify-content: center;
}
.card-W2W {
  
    /* height: 160px;
     margin-left:20px;
     width:90%; */
     justify-content: space-between;
    background: linear-gradient(
117.24deg, rgba(255, 255, 255, 0.038) 5.43%, rgba(255, 255, 255, 0.008) 88.67%);
    -webkit-backdrop-filter: blur(90px);
    backdrop-filter: blur(90px);
    border-radius: 35px;
}


.resp-span-W2W{
    font-size: 16px;
    
}
.create-with-1{
    line-height: 100%;
}
.N2N-img-8 {
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
}
.r-N2N {
    border-radius: 34px;
    width:60%;
}
.Group901{
    display: none;
}
.N2N-img-174 {
 padding-left: 0px;
 width: 100%;

}
.img-182_N2N {
  width: 0%;
}
.st-elememt{
    display: flex;
    justify-content: center;
}
}


  
@media  screen and (min-width:1400px)and (max-width:1750px) {
    .share_in {
        padding-right: 66px;
    }
}
@media  screen and (min-width:768px)and (max-width:992px) {
    .img-182_N2N {
        display: none;
    }
  
  
    .vector2-N2N {
    display: none;
}
.N2N-1st {
  display: flex;
    font-size: 90px;
   justify-content: center;
   text-align: center;
}
.N2N-p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: 0px;
}
.inner-img{
    display: flex;
    text-align: center;
    justify-content: center;

}
.welcol{
    display: flex;
    justify-content: center;
    padding-left:0px;

}
.N2N-item{
    text-align: center;
    
}
.pin-ball{
    display:none;
    
}

}
@media  screen and (min-width:501px)and (max-width:768px) {
    .N2N-1st {
        display: flex;
          font-size: 90px;
         justify-content: center;
         text-align: center;
      }
      .Group901{
        display: none;
    }
      .N2N-p {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-right: 0px;
      }
    .N2N-p {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-right: 0px;
      }
    .inner-img{
        display: flex;
        text-align: center;
        justify-content: center;
    
    }
    
    .ellip08{
        display: none;

    }
    .N2N-span {
        display: flex;
        justify-content: center;
         font-size: 20px;
        
     }
     .mobile40{
         display: none;
     }
     .N2N-NRGY{
         display: flex;
         justify-content: center;
       text-align: center;
         margin: 10px;
     }
    .btn-div{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .img-182_N2N{
        display: none;
    }
     .N1N-h1 {
         display: flex;
         text-align: center;
     justify-content: center;
         font-size: 37px;
         line-height: 100%;
     }
     .st-colm-1 {
    margin-left: 0px;     
}
.share_in {
    padding-right: 0px;
}
.st-colm-2 {
    margin-left: 0px;
}
.st-colm-3 {
    margin-left: 0px;
}
.welcol{
    display: flex;
    justify-content: center;
    padding-left:0px ;
}

}
@media  screen and (min-width:1024px)and (max-width:1200px) {
    .welcol {
        padding-left: 10px;
    }
    .img-182_N2N {
      display: none;
    }
}